.il-slider {
  position: relative;
  height: 100%;
  min-height: $sliderHeightMobile;
  transition: all 450ms ease-out;
  .il-sliders--item {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 450ms ease-out;
    &:nth-child(1) {
      z-index: 14;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
      );
    }
    &:nth-child(2) {
      z-index: 13;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(121, 37, 9, 1) 35%,
        rgba(242, 205, 192, 1) 100%
      );
    }
    &:nth-child(3) {
      z-index: 12;
      background: rgb(237, 236, 249);
      background: linear-gradient(
        90deg,
        rgba(237, 236, 249, 1) 0%,
        rgba(189, 131, 13, 1) 35%,
        rgba(239, 242, 192, 1) 100%
      );
    }
    &:nth-child(4) {
      z-index: 11;
      background: rgb(237, 236, 249);
      background: linear-gradient(
        90deg,
        rgba(237, 236, 249, 1) 0%,
        rgba(13, 102, 189, 1) 35%,
        rgba(192, 233, 242, 1) 100%
      );
    }
    &.il-slider--hidden {
      left: -200%;
      z-index: -5;
    }
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 5;
      background: rgba(0, 0, 0, 0.4);
      background-image: url('../assets/images/themes/grid-40.png');
      background-position: center;
      background-repeat: repeat;
      opacity: 0.5;
    }
    .il-slider--content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 6;
      h3 {
        color: white;
        text-align: center;
        padding: 0;
        margin: 0;
      }
      p.il-slider-description {
        display: none;
        color: white;
        font-size: 0.85rem;
        @media (min-width: 680px) {
          display: block;
          padding: 0.25rem 0;
          line-height: 1;
          font-size: 1rem;
        }
        @media (min-width: 800px) {
          display: block;
          padding: 0.45rem 0;
          line-height: 1.2;
          font-size: 1.2rem;
        }
      }
      .il-slider--buttom {
        a {
          text-align: center;
        }
      }
    }
  }
}
